body{
  background-color: rgb(247, 249, 250);
  color: black;
  padding: 20px;
}

.container{
  text-align: center;
  border: solid rgb(228, 236, 235) 4px;
  margin-bottom: 20px;


}

.container p{
  color: rgb(166, 168, 169);
}

.container h3{
  color: rgb(151, 129, 247);
}

